<h1> Add a new Task </h1>

<%= form_for(@new_task) do |t| %>
  <%= t.label :Title %>
  <%= t.text_field :title %>
  <%= t.label :Details %>
  <%= t.text_field :details %>
  <%= t.submit %>
  <% end %>
<br>
<br>
<%= link_to "Back to list", tasks_path %>
